<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RRHH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #06509b;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/ca50x50.png" alt="" width="50" height="50" class="d-inline-block align-text-top" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="dropdown nav-item">
                            @{using (var context = new PrincipalContext(ContextType.Domain)) 
                             {
                                if(User.Identity.Name != null){
                                    var principal = UserPrincipal.FindByIdentity(context, User.Identity.Name);
                                    <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                        <p class="nav text-light navbar-text navbar-right">
                                            Hola, @principal.GivenName @principal.Surname !
                                        </p>
                                    </a>
                                }else{
                                    <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                        <p class="nav text-light navbar-text navbar-right">
                                            Hola!
                                        </p>
                                    </a>
                                }
                                
                              }
                            }
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Close">Cerrar</a></li>
                            </ul>
                        </li>  
                    </ul>
                                            
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Parámetros
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Parametros" asp-action="Index">Parametros</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TiposCheque" asp-action="Index">Tipos de Cheques</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                    <li class="dropdown nav-item">
                        <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Procesos
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cheques" asp-action="Index">Cheques Pendientes</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Interfaces" asp-action="Index">Interfases RH - eIBS</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Caja de Ahorros - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
