@model List<AcreditacionEmpleado>;


@section Styles{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Acreditación de Salarios";
}

<h6>Acreditación de Salarios</h6>
<hr />

<div class="row">
    <div class="text-danger">
        @if (ViewBag.Errores != null)
        {
            <ul>
                @foreach (string item in ViewBag.Errores)
                {
                    <li>@item.ToString()</li>
                }
            </ul>
        }
    </div>
    <div class="text-success">
        @if (ViewBag.Mensaje != null)
        {
            <ul>
                <li>@ViewBag.Mensaje</li>
            </ul>
        }
    </div>
</div>

<form asp-action="Index" method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="datatable">
                <table class="table table-bordered table-striped" id="tabla">
                    <thead>
                        <tr>
                            <th class="text-sm-center">Fecha</th>
                            <th class="text-sm-center">Quincena</th>
                            <th class="text-sm-center">Empleado</th>
                            <th class="text-sm-center">Cuenta</th>
                            <th class="text-sm-center">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            
                            decimal total = 0;
                        
                            for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td class="text-sm-left">@Model[i].ca_fec_pago<input type="hidden" asp-for="@Model[i].ca_fec_pago" /></td>
                                    <td class="text-sm-left">@Model[i].ca_tp_pago<input type="hidden" asp-for="@Model[i].ca_tp_pago" /></td>
                                    <td class="text-sm-center">@Model[i].ca_num_empl<input type="hidden" asp-for="@Model[i].ca_num_empl" /></td>
                                    <td class="text-sm-center">@Model[i].ca_cta_acre<input type="hidden" asp-for="@Model[i].ca_cta_acre" /></td>
                                    <td class="text-sm-right">@Model[i].ca_monto_pg.ToString("C")<input type="hidden" asp-for="@Model[i].ca_monto_pg" /></td>
                                </tr>

                                total = total + Model[i].ca_monto_pg;
                            }
                            <tr>
                                @* <td></td>
                                <td></td>
                                <td></td> *@
                                <td colspan="4" class="text-sm-right font-weight-bold">Totales:</td>
                                <td class="text-sm-right font-weight-bold">@total.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="submit" name="Regresar" value="Regresar" class="btn btn-primary float-left" asp-action="Index" />
                <input type="submit" name="ProcesarAE" value="Procesar Acreditaciones" class="btn btn-danger float-right" asp-action="ProcesarAE" />
            </div>
        </div>
    </div>

</form>


@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>

    @* <script>
        $(document).ready(function () {
            $('#tabla').DataTable();
        });
    </script> *@

}



