@model IEnumerable<RRHH.Models.TIPO_CHEQUE>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista tipo de cheques</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COD_TIPO_CHEQUE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_TIPO_CHEQUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPCION)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_TIPO_CHEQUE">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID_TIPO_CHEQUE">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_TIPO_CHEQUE">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
