@model List<IRH_CHEQUE>;

@section Styles{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Cheques Impresos";
}

<h6>Cheques Impresos</h6>
<hr />

<form asp-action="Index" method="get">

    <div class="row">
        <div class="col-sm-6">
            <div class="text-success">
                @if (ViewBag.Mensaje != null)
                {
                    <ul>
                        <li>@ViewBag.Mensaje</li>
                    </ul>
                }
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="submit" name="Regresar" value="Regresar..." class="btn btn-primary float-right" />
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="datatable">
                <table class="table table-bordered table-striped" id="tblCheques">
                    <thead>
                        <tr>
                            <th class="text-sm-center">Nombre</th>
                            <th class="text-sm-center">Fecha</th>
                            <th class="text-sm-center">Monto</th>
                            <th class="text-sm-center">Cheque</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr>
                                    <td>@Model[i].nombre<input type="hidden" asp-for="@Model[i].nombre" /></td>
                                    <td class="text-sm-center">@Model[i].fecha_registro<input type="hidden" asp-for="@Model[i].fecha_registro" /></td>
                                    <td class="text-sm-right">@Model[i].monto.ToString("C2")<input type="hidden" asp-for="@Model[i].monto" /></td>
                                    <td class="text-sm-center text-danger font-weight-bold">@Model[i].cheque<input type="hidden" asp-for="@Model[i].cheque" /></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />


</form>


